/*
Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the web page when you refresh in the browser.
*/

body {
  /* Box-model */
  padding: 0;

  /* Positioning */

  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;

  /* Typography */

  font-size: 18px;
  line-height: 150%;
  color: #777777;
  clear: right;
  float: left; 

  /* Visual */
  background: #ffffff;
}
nav { 
  margin: 10px;

}
header {
  background: #4aaaa5;
  background-size: 10%;
}

h1 {
  /* Box-model */
  padding: 20px 40;

  /* Positioning */
  margin-bottom: 20px;
  font-size: 28px;

  /* Typography */
  color: #ffffff;
  text-align: left;
  float:left;
 
 

  /* Visual */
  background: #4aaaa5;
  background-size: 10%;
  

}

h2 {
  font-size: 24px;
  color: #4aaaa5;
  background: #ffffff;
  text-align:left;

}
 /*links for nav*/
a1 {
  text-align:right;
  float:right;
}
a {
  color: #777777
  ;
}

body {
  /* Box-model */
  height: 960px;

  /* Positioning */
  margin-right: auto;
  margin-left: auto;
}

#main-bio,
#contact-info,

/*paragraph*/
main-bio {
  padding: 10px;
  width: 50%;
  overflow:right;
}

contact-info {
  width: 30%;
}

bio-image {
  /* Box-model */
  padding: 10px;
  width: 200px;
  height: 200px;
  align-items: left;
  float:left;
}

/* Portfoilio images positioning */
img1 {
  padding: 10px;
  width: 50%;
  height: 50%;
  float: left;
}
img2 {
  padding: 10px;
  width: 50%;
  height: 50%;
  float: left;

}
img3 {
  padding: 10px;
  width: 50%;
  height: 50%;
  float: right;
}
